html {
  height: 100vh;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.timer-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.timer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.block-container {
  display: flex;

}

@blockHeight: min(25vw, 230px);
@fontSize: min(12vw, 120px);

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(20vw, 180px);
}

.value-block {
  border: 1px solid rgba(128, 128, 128, 0.425);
  border-radius: min(2vw, 10px);
  height: @blockHeight;
  font-size: @fontSize;
  font-weight: 100;
  color: rgba(245, 245, 245, 0.685);
  padding-bottom: min(2vw, 15px);
}

.name-block {
  color: rgba(255, 166, 0, 0.562);
  font-size: min(2vw, 20px);
  margin-top: min(2vw, 15px);
}

.separator-block {
  color: rgba(245, 245, 245, 0.685);
  font-size: @fontSize;
  font-weight: 100;

  height: @blockHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(5vw, 50px);
  label {
    margin-bottom: min(1.2vw, 15px);
  }
}
